WebApplication/Service References/WebService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://jeditournamentwebservice.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Contract" />
  <xs:element name="GetJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService.Contract" minOccurs="0" name="GetJedisResult" nillable="true" type="q1:ArrayOfJediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJedis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService.Contract" minOccurs="0" name="jedi" nillable="true" type="q2:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebService.Contract" minOccurs="0" name="AddJedisResult" nillable="true" type="q3:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJedis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebService.Contract" minOccurs="0" name="jedi" nillable="true" type="q4:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJedisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelJedis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebService.Contract" minOccurs="0" name="jedi" nillable="true" type="q5:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelJedisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>