WebApplication/Service References/WebService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJediContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JediContract" nillable="true" type="tns:JediContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJediContract" nillable="true" type="tns:ArrayOfJediContract" />
  <xs:complexType name="JediContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSith" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JediContract" nillable="true" type="tns:JediContract" />
  <xs:complexType name="EntityContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityContract" nillable="true" type="tns:EntityContract" />
</xs:schema>