WebApplication/Service References/WebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://jeditournamentwebservice.azurewebsites.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://jeditournamentwebservice.azurewebsites.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jeditournamentwebservice.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJedis" />
  </wsdl:message>
  <wsdl:message name="IService_GetJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJedis" />
  </wsdl:message>
  <wsdl:message name="IService_AddJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJedis" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DelJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:DelJedis" />
  </wsdl:message>
  <wsdl:message name="IService_DelJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelJedisResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetJedis" message="tns:IService_GetJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetJedisResponse" message="tns:IService_GetJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddJedis" message="tns:IService_AddJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddJedisResponse" message="tns:IService_AddJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateJedis" message="tns:IService_UpdateJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateJedisResponse" message="tns:IService_UpdateJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DelJedis" message="tns:IService_DelJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DelJedisResponse" message="tns:IService_DelJedis_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJedis">
      <soap:operation soapAction="http://tempuri.org/IService/GetJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJedis">
      <soap:operation soapAction="http://tempuri.org/IService/AddJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJedis">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelJedis">
      <soap:operation soapAction="http://tempuri.org/IService/DelJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJedis">
      <soap:operation soapAction="http://tempuri.org/IService/GetJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJedis">
      <soap:operation soapAction="http://tempuri.org/IService/AddJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJedis">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelJedis">
      <soap:operation soapAction="http://tempuri.org/IService/DelJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://jeditournamentwebservice.azurewebsites.net/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService" binding="tns:BasicHttpsBinding_IService">
      <soap:address location="https://jeditournamentwebservice.azurewebsites.net/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>